@model List<Student>

@foreach (var item in Model)
{
   <div class="card" style="width: 18rem;">
  
  <div class="card-body">
    <h4 class="card-title">@item.Name</h4>
    <h5 class="card-title">Courses</h5>
    @foreach (var item2 in @item.courses)
   {
        <h5 class="card-title">@item2.Name</h5>
   }
  </div>
</div>
}
